Использованные библиотеки:
OpenCV(cv2) - основная библиотека используемая непосредственно для анализа изображений. Используется для обработки изображений, геометрических преобразований, пороговой обработки, морфологических операций, поиска контуров.
NumPy - используется для представления изображения как многомерного массива, операций с пикселями, для площади анализируемых объектов
MatPlotLib - для визуализации изображений и отображения процессов преобразования
Tkinter - для создания графического интерфейса
